@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
  font-family: "Roboto", sans-serif;
}

input, button {
  font-size: 1rem;
}

#location-input {
  border-radius: 999px;
  border: 1px solid #999;
  padding: 8px;
  width: 250px;
}

#temp-units {
  margin-right: 5px;
}

button {
  border-radius: 999px;
  border: none;
  color: #eee;
  background-color: #333;
  padding: 9px 15px;
}

body {
  padding: 20px;
}

form {
  display: flex;
  justify-content: space-between;
}